<table>
  <tr>
    <th>title</th>
    <th>text</th>
    <th>&nbsp;</th>
  </tr>
  <tr>
    <td><%= @article.title %></td>
    <td><%= @article.text %></td>
  </tr>
</table>

<%= link_to 'back to list', articles_path %>